<div class="search-form">
  <form method="GET" action="/news">
    <div class="form-group">
      <label for="search-input">Tu khoa</label>
      <input
        name="q"
        type="text"
        class="form-control"
        id="search-input"
        placeholder="Nhap tu khoa"
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>